<div class="row justify-content-center">
    <div class="col-11 name_field">
        <div class="row type">PERSON</div>
        <div class="row  name_field"><%= @person.first_name+" "+@person.last_name%></div></div>
</div>
<div class="row justify-content-center">
    <div class="col-4">
        <%= image_tag @person.avatar.url(:thumb) if @person.avatar?%>
    </div>
    <div class="col-7">
        <div class="row description">
            <div class="col-3">FIRST NAME:</div>
            <div class="col-9"><%= @person.first_name%></div>
        </div>
        <div class="row description">
            <div class="col-3">LAST NAME:</div>
            <div class="col-9"><%= @person.last_name%></div>
        </div>
        <div class="row description">
            <div class="col-3">BORN:</div>
            <div class="col-9"><%= @person.birth_date%></div>
        </div>
        <% if @person.death_date -%>
        <div class="row description">
            <div class="col-3">DEAD:</div>
            <div class="col-9"><%= @person.death_date%></div>
        </div>
        <% end -%>
        <div class="row description">
            <div class="col-3">COUNTRY:</div>
            <div class="col-9"><%= @person.country.name%></div>
        </div>
        <% if @person.artists -%>
        <div class="row description">
            <div class="col-3">AS ARTIST:</div>
            <div class="col-9">
                <% @person.artists.each do |s|%>
                <%= link_to s.name, info_artist_view_path(:artist_id => s.id)%>&nbsp;&nbsp;&nbsp;
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div> 
